header.header
    a(href="index.html").header__link Главная
    a(href="about.html").header__link О компании
    a(href="news.html").header__link Новости
    a(href="contacts.html").header__link Контакты